body{
	background: url(../img/wallpaper.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}
.hero{
	text-align: center;
}
.hero-content{
	margin-bottom:20px;
}
.jumbotron#welcome{
	background: rgba(0, 0, 0, 0.23);
}
.hero-content h1{
	color: white;
}
.jumbotron#welcome{
	color: white;
}
.container.hehe {
    height: 540px;
}
footer{
	text-align: center;
	color: #BBB;
	background-color: black;
	height: 20px;
}

 h2{
        color: white;

      }
label
{
	color: white;
}
 .aa{
          width: 720px;
          height: 270px;
          background-color: rgba(0,0,0,0.6);
          margin: 0 auto;
          margin-top: 40px;
          padding-top: 10px;
          padding-left: 60px;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -o-border-radius: 15px;
          -moz-border-radius: 15px;
         
          font-weight: bolder; 
          box-shadow: inset -4px -4px rgba(0,0,0,0.5);
          font-size: 14px;

      }
 .aa.signup{
 	height: 540px;
 }
     .aa input[type="text"]{
        width: 200px;
        height: 35px;
        border: 0;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -moz-border-radius: 5px;
        padding-left: 5px;
      } 
      .aa input[type="password"]{
        width: 200px;
        height: 35px;
        border: 0;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -moz-border-radius: 5px;
        padding-left: 5px;
       }
       .aa input[type="submit"]
      {

        width: 100px;
        height: 35px;
        border: 0;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -moz-border-radius: 5px;
        background-color: orange;
        font-weight: bolder;

      }
       p1{
        color: white;

      }