<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create new post</title>
  </head>
  <body>
    <form  method="post"action="/post/create" method="post" enctype="multipart/form-data">
      <input type="text" name="location" value="" placeholder="Location"><br>
      <input type="text" name="heading" value="" placeholder="Heading"><br>
      <input type="text" name="description" value="" placeholder="Description"><br>
      <input type="text" name="stake_holders" value="" placeholder="Stake Holders"><br>
      <input type="file" name="images" value="">
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
